ipython==7.16.3
ipython-genutils==0.2.0
numpy==1.16.2
pandas==0.24.2
pandocfilters==1.4.2
patsy==0.5.1
regex==2020.2.20
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
sentistrength==0.0.8
statsmodels==0.12.0
tabulate==0.8.7
textblob==0.15.3
tldextract==2.2.2
urlextract==1.0.0
urllib3==1.24.1
vaderSentiment==3.3.2
xlrd==1.2.0